@{
    ViewData["Title"] = "Main Page";
}
<h2>Форма игрока</h2>
<form method="post">
    <p>Имя: <input name="name" /></p>
    <p>Возраст: <input name="age" type="number" /></p>
    <input type="submit" value="Отправить">
</form>